---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import IconGithub from "../components/icons/IconGithub.astro";
import SocialPill from "../components/SocialPill.astro";
import IconLinkedin from "../components/icons/IconLinkedin.astro";
import IconKotlin from "../components/icons/IconKotlin.astro";
import IconPython from "../components/icons/IconPython.astro";
import IconJava from "../components/icons/IconJava.astro";
import IconMail from "../components/icons/IconMail.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import IconBriefCase from "../components/icons/IconBriefCase.astro";
---

<Layout 
  title="Portfolio de Adri치n Ben칤tez Rold치n, estudiante de Ingenier칤a Telem치tica y desarrollador de Kotlin, Python y Astro"
  description="Correo de Contacto: benroladrian@gmail.com"
>
  <main class="px-30 mt-10">
    <SectionContainer class="py-20 pb-10 scroll-mt-16">
      <img
        class="rounded-full size-20 mb-4"
        src="https://media.licdn.com/dms/image/v2/D4D03AQGCiohnoyCcEA/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1677164616677?e=2147483647&v=beta&t=MoAHeYomQALO4Lm2fwZXicucGZSS0lOe1hASWo3Ku4U"
        alt="Logo"
      />
      <h1 class="text-white text-2xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-5">
        Hey, soy Adrian Benitez!
        <a
          class="flex justify-center items-center"
          href="https://es.linkedin.com/in/adri%C3%A1n-ben%C3%ADtez-rold%C3%A1n-020400218"
          target="_blank"
          rel="noopener"
        >
          <Badge>Disponible</Badge>
        </a>
      </h1>
      <h2 class="opacity-80 text-xl lg:text-xl flex flex-col gap-y-3 max-w-[700px]">
        <p>
          Estudiante de <span class="text-yellow-300">Ingenier칤a Telem치tica</span> 游니 en la Escuela Polit칠cnica Superior de Linares, 
          <span class="text-green-500 font-semibold">UJA</span>
        </p>
        <h3 class="opacity-80 text-xl lg:text-xl flex flex-col sm:flex-row sm:items-center gap-y-2 sm:gap-x-4">
          <p class="flex flex-wrap items-center gap-x-4 gap-y-2  lg:text-left">
            Estoy comenzando en el desarrollo con:
            <span class="flex items-center gap-2">
              <IconKotlin class="size-6" /> Kotlin
            </span>
            <span class="flex items-center gap-2">
              <IconPython class="size-6" /> Python
            </span>
            <span class="flex items-center">
              <IconJava class="size-9" /> Java
            </span>
          </p>
        </h3>
      </h2>
      

      <nav class="flex gap-4 mt-6 flex-wrap justify-start">
        <SocialPill class="text-sm px-3 py-1" href="https://github.com/AdrianBR003">
          <IconGithub class="size-4" />
          Github
        </SocialPill>
        <SocialPill class="text-sm px-3 py-1" href="https://es.linkedin.com/in/adri%C3%A1n-ben%C3%ADtez-rold%C3%A1n-020400218">
          <IconLinkedin class="size-4" />
          LinkedIn
        </SocialPill>
        <SocialPill class="text-sm px-3 py-1" href="https://mail.google.com/mail/?view=cm&fs=1&to=benroladrian@gmail.com">
          <IconMail class="size-4" />
          Email
        </SocialPill>
      </nav>
      
    </SectionContainer>

    <SectionContainer id="experiencia"class="flex-row scroll-mt-16 md:flex-row md:items-center md:space-x-3.5">
      <h2 class="text-2xl font-semibold flex gap-x-2 items-end">
      <IconBriefCase class="size-8"/>
      <span>Experiencia Laboral</span>
      </h2>
      <Experience/>
    </SectionContainer>

    <SectionContainer id="experiencia2"class="flex-row scroll-mt-16 md:flex-row md:items-center md:space-x-3.5">
      <h2 class="text-2xl font-semibold flex gap-x-2 items-end">
      <IconBriefCase class="size-8"/>
      <span>Experiencia Laboral</span>
      </h2>
      <Experience/>
    </SectionContainer>

    <SectionContainer id="experiencia2"class="flex-row scroll-mt-16 md:flex-row md:items-center md:space-x-3.5">
      <h2 class="text-2xl font-semibold flex gap-x-2 items-end">
      <IconBriefCase class="size-8"/>
      <span>Experiencia Laboral</span>
      </h2>
      <Experience/>
    </SectionContainer>

    <SectionContainer id="experiencia2"class="flex-row scroll-mt-16 md:flex-row md:items-center md:space-x-3.5">
      <h2 class="text-2xl font-semibold flex gap-x-2 items-end">
      <IconBriefCase class="size-8"/>
      <span>Experiencia Laboral</span>
      </h2>
      <Experience/>
    </SectionContainer>

    
  </main>
</Layout>
