---
import { Image } from "astro:assets";
import localBirdImage from "../assets/img-cosmereApp.png";

const { title, description, enlace } = Astro.props;
---

<a
  href={enlace}
  class="w-full flex flex-col md:flex-row items-center bg-white border border-gray-200
         rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800
         dark:hover:bg-gray-700 transition-transform transform hover:scale-105"
>
  <div
    class="w-1/3 max-h-64 overflow-hidden rounded-b-lg
       md:rounded-l-lg md:rounded-r-none flex justify-center items-center"
  >
    <Image
      src={localBirdImage}
      alt="Imagen del proyecto appCosmere"
      class="transform scale-50 origin-center object-contain w-auto h-auto"
    />
  </div>

  <div class="w-2/3 py-4 px-6 flex flex-col">
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      {title}
    </h5>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      {description}
    </p>
    <nav class="flex gap-4 mt-6 flex-wrap justify-start">
      <slot />
    </nav>
  </div>
</a>
